infra/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Fog and edge car insurance pricing backend on AWS

Parameters:
  ProjectName:
    Type: String
    Default: fog-car-insurance
  TelemetryTableName:
    Type: String
    Default: telemetry_windows
  DemoSessionsTableName:
    Type: String
    Default: demo_sessions

Globals:
  Function:
    Runtime: python3.11
    Timeout: 30
    MemorySize: 512
    Environment:
      Variables:
        TELEMETRY_TABLE_NAME: !Ref TelemetryTableName

Resources:
  TelemetryQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "${ProjectName}-telemetry"
      VisibilityTimeout: 60

  TelemetryTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Ref TelemetryTableName
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: pk
          AttributeType: S
        - AttributeName: sk
          AttributeType: S
      KeySchema:
        - AttributeName: pk
          KeyType: HASH
        - AttributeName: sk
          KeyType: RANGE
      TimeToLiveSpecification:
        AttributeName: expires_at
        Enabled: true

  DemoSessionsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Ref DemoSessionsTableName
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: demo_session_id
          AttributeType: S
      KeySchema:
        - AttributeName: demo_session_id
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: expires_at
        Enabled: true

  IngestFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../cloud/lambda_ingest
      Handler: app.handler
      Events:
        TelemetryQueue:
          Type: SQS
          Properties:
            Queue: !GetAtt TelemetryQueue.Arn
            BatchSize: 10
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - sqs:ReceiveMessage
                - sqs:DeleteMessage
                - sqs:GetQueueAttributes
              Resource: !GetAtt TelemetryQueue.Arn
            - Effect: Allow
              Action:
                - dynamodb:PutItem
              Resource: !GetAtt TelemetryTable.Arn

  GenerateDemoTickFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ..
      Handler: cloud.demo_mode.generate_demo_tick.handler
      Environment:
        Variables:
          DEMO_SESSIONS_TABLE: !Ref DemoSessionsTableName
          TELEMETRY_QUEUE_URL: !Ref TelemetryQueue
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - dynamodb:GetItem
                - dynamodb:PutItem
              Resource: !GetAtt DemoSessionsTable.Arn
            - Effect: Allow
              Action:
                - sqs:SendMessage
              Resource: !GetAtt TelemetryQueue.Arn

  DemoStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub "${ProjectName}-demo-mode"
      Definition:
        StartAt: GenerateDemoTick
        States:
          GenerateDemoTick:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              FunctionName: !GetAtt GenerateDemoTickFunction.Arn
              Payload:
                demo_session_id.$: $.demo_session_id
            Next: ContinueChoice
          ContinueChoice:
            Type: Choice
            Choices:
              - Variable: $.continue
                BooleanEquals: true
                Next: WaitForNextTick
            Default: DemoComplete
          WaitForNextTick:
            Type: Wait
            Seconds: 5
            Next: GenerateDemoTick
          DemoComplete:
            Type: Succeed
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref GenerateDemoTickFunction

  StartDemoFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ..
      Handler: cloud.demo_mode.start_demo.handler
      Environment:
        Variables:
          DEMO_SESSIONS_TABLE: !Ref DemoSessionsTableName
          DEMO_STATE_MACHINE_ARN: !Ref DemoStateMachine
          DEMO_DURATION_MINUTES: "2"
          DEMO_VEHICLE_COUNT: "1"
          DEMO_WINDOW_SECONDS: "5"
          DEMO_SEGMENT_STEPS: "3"
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - dynamodb:PutItem
              Resource: !GetAtt DemoSessionsTable.Arn
            - Effect: Allow
              Action:
                - states:StartExecution
              Resource: !Ref DemoStateMachine

  StopDemoFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ..
      Handler: cloud.demo_mode.stop_demo.handler
      Environment:
        Variables:
          DEMO_SESSIONS_TABLE: !Ref DemoSessionsTableName
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - dynamodb:GetItem
                - dynamodb:PutItem
              Resource: !GetAtt DemoSessionsTable.Arn
            - Effect: Allow
              Action:
                - states:StopExecution
              Resource: !Sub arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:execution:${ProjectName}-demo-mode:*

  DashboardFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ..
      Handler: cloud.dashboard_lambda.app.handler
      Environment:
        Variables:
          DEMO_SESSIONS_TABLE: !Ref DemoSessionsTableName
          START_DEMO_FUNCTION_NAME: !Ref StartDemoFunction
          STOP_DEMO_FUNCTION_NAME: !Ref StopDemoFunction
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - dynamodb:GetItem
                - dynamodb:Query
                - dynamodb:Scan
              Resource:
                - !GetAtt TelemetryTable.Arn
                - !GetAtt DemoSessionsTable.Arn
            - Effect: Allow
              Action:
                - lambda:InvokeFunction
              Resource:
                - !GetAtt StartDemoFunction.Arn
                - !GetAtt StopDemoFunction.Arn

  IoTRuleRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: iot.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: sqs-send-message
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                Resource: !GetAtt TelemetryQueue.Arn

  TelemetryTopicRule:
    Type: AWS::IoT::TopicRule
    Properties:
      RuleName: fog_car_insurance_telemetry_to_sqs
      TopicRulePayload:
        AwsIotSqlVersion: "2016-03-23"
        Sql: "SELECT * FROM 'insurance/+/+/telemetry'"
        RuleDisabled: false
        Actions:
          - Sqs:
              QueueUrl: !Ref TelemetryQueue
              RoleArn: !GetAtt IoTRuleRole.Arn
              UseBase64: false

Outputs:
  TelemetryQueueUrl:
    Value: !Ref TelemetryQueue
  TelemetryQueueArn:
    Value: !GetAtt TelemetryQueue.Arn
  TelemetryTableName:
    Value: !Ref TelemetryTableName
  DemoSessionsTableName:
    Value: !Ref DemoSessionsTableName
  StartDemoFunctionName:
    Value: !Ref StartDemoFunction
  StopDemoFunctionName:
    Value: !Ref StopDemoFunction
  DashboardFunctionName:
    Value: !Ref DashboardFunction
